

body {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
}

a:link {
  background-color: #ffffff;
  color: blue;
  border: 2px solid black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #cfcfcf;
}
